*{
    padding: 0;
    margin: 0;
}

#logo
{
    font-size: 28px;
    color: black;
    text-decoration: none;
    border-bottom: lightgrey;
}
h1{
    font-size: 40px;
    margin-bottom: 24px;
}
p{
    font-size: 16px;
}

#navlist
{
list-style: none;
display : flex;
flex-direction : row;
justify-content : space-around;
align-items : center;
gap: 20px;
}
.navlink{
    color: rgb(78, 77, 77);
    text-decoration: none;
}

header{
    height: 64px;
    display : flex;
flex-direction : row;
justify-content : space-between;
align-items : center;
border-bottom: 1px solid rgb(202, 196, 196);
}

img{
    width: 50%;
    border-radius: 20px;
    padding-bottom: 8px;
    padding-right: 8px;
    padding-top: 8px;
}

#section1{
    display : flex;
flex-direction : row;
justify-content : space-between;
align-items : center;
}

#section1links{

    margin-top: 32px;
}

.primarylink{
    display: inline-block;
    background-color: black;
    color: white;
    padding-top: 8px;
    padding-bottom: 8px;
    padding-left: 16px;
    padding-right: 16px;
    text-decoration: none;
    border-radius: 4px;
}
.secondarylink{
    display: inline-block;
    background-color: rgb(174, 156, 156);
    color: black;
    padding-top: 8px;
    padding-bottom: 8px;
    padding-left: 16px;
    padding-right: 16px;
    text-decoration: none;
    border-radius: 4px;
}

h2{
    margin-bottom: 0px;
    height: 50px;
    font-size: 20px;
    height: 30px;
    font-weight: 500;
    padding-top: 10px;
}

#section2{
    background-color: rgb(210, 210, 210);
    padding: 10px;
    color: black;
    margin-top: 0px;
    margin-bottom: 0px;
    text-align: start;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    text-size-adjust: 100%;
}
    
